{% extends 'base.html.twig' %}

{% block  breadcrumb %}
    <li class="active">
        <a href="{{ path('rooms_homepage') }}"><i class="fa fa-fw fa-university"></i>Classes</a>
    </li>
{% endblock %}
{% block content %}
    <div class=" pull-right">
        <a href="{{ path('rooms_create') }}" class="btn btn-primary"><span class="fa fa-plus" aria-hidden="true"></span>Créer</a>
    </div>
    <h1 class="page-header">Classes</h1>
    <div class="row">
        {% if rooms|length > 0 %}
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Intitulé</th>
                        <th>capacité</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for room in rooms %}
                        <tr>
                            <td>{{ room.name }}</td>
                            <td>{{ room.capacity }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="alert alert-info">Aucune classe</div>
        {% endif %}
    </div>
{% endblock %}