{% extends 'AppBundle:Group:index.html.twig' %}
{% block  breadcrumb %}
    {{ parent() }}
    <li class="active">
        Créer
    </li>
{% endblock %}

{% block content %}
    <h1>Créer</h1>
    {{ include('AppBundle::form.html.twig', { 'form': form }) }}
{% endblock %}