{% extends 'base.html.twig' %}

{% block  breadcrumb %}
    <li class="active">
        <a href="{{ path('levels_homepage') }}"><i class="fa fa-fw fa-graduation-cap"></i> Niveaux</a>
    </li>
{% endblock %}

{% block content %}
    <div class=" pull-right">
        <a href="{{ path('levels_create') }}" class="btn btn-primary"><span class="fa fa-plus" aria-hidden="true"></span>Créer</a>
    </div>
    <h1 class="page-header">Niveaux</h1>
    <div class="row">
    {% if levels|length > 0 %}
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>Intitulé</th>
                    <th>nombre d'étudants</th>
                </tr>
                </thead>
                <tbody>
                {% for level in levels %}
                    <tr>
                        <td>{{ level.name }}</td>
                        <td>{{ level.studentsNumber }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-info">Aucun niveau</div>
    {% endif %}
{% endblock %}